/* src/styles/post.css */
.post-header {
    margin: 80px auto;
    max-width: 700px;
    font-family: 'Shippori Mincho';
}

.post-date {
    color: var(--dark-300);
}

.post-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 60px -10px, rgba(0, 0, 0, 0.22) 0px 18px 36px -18px;
}

.post-body {
    margin: 80px auto;
    max-width: 700px;
    font-family: 'Shippori Mincho';
    
    & h1 {
        padding-block: 1rem .5rem;
        border-bottom: 1px solid var(--dark-200);

        &::before {
            content: "#";
            padding-right: 4px;
            color: transparent;
            background: linear-gradient(to right bottom, var(--theme-100), var(--theme-200));
            background-clip: text;
        }
    }

    & h2 {
        padding-block: 1rem .5rem;
        border-bottom: 1px solid var(--dark-200);

        &::before {
            content: "##";
            padding-right: 4px;
            color: transparent;
            background: linear-gradient(to right bottom, var(--theme-100), var(--theme-200));
            background-clip: text;
        }
    }

    & h3 {
        padding-block: 1rem .5rem;
        border-bottom: 1px solid var(--dark-200);

        &::before {
            content: "###";
            padding-right: 4px;
            color: transparent;
            background: linear-gradient(to right bottom, var(--theme-100), var(--theme-200));
            background-clip: text;
        }
    }

    & p {
        line-height: 2rem;
    }

    & blockquote {
        margin: 2rem 1rem;
        padding: 1rem 1.5rem;
        background: var(--dark-400);
        border-radius: 10px;
        color: var(--dark-200);
    }
}

.post-body img {
    width: 100%;
    height: auto;
}